.cuerpoTabla{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
}

.tableTabla{
    background-color: #d29922;
    width: 100%;
    border-radius: 25px;
    border-spacing: 0px;
}

thead, tbody{
    height: 50px;
    width: 100%;
}

th{
    font-size: 20px;
}

.A, .B, .C, .a, .b, .c{
    border-right: solid 3px white;
}

.listaServidores{
    text-align: center;
    font-size: 20px;
    border-radius: 25px !important;
}

.servidorcito{
    height: 60px;
}
