
body{
    background-image: url("FONFO3.jpg"), url("FONDO\ GRADIENTE\ 222222.png")  ; 
    background-size: cover; 
    background-repeat: no-repeat; 
}


.container-fluid{
    position: relative;
    display: flex;
}

.cuadro{
    position: absolute;
    top: 540px;
    left: 250px;
    background-color: #6E417B;
    text-align: center;
    border-radius: 40px;
    padding: 20px;

}

.btn-light{
    justify-content: center;
    width: 80%;
    height: 200px;
    margin: 10px;
    margin-bottom: 15px;
    font-size: 30px;
    border-radius: 10px;
}

.pregunta{
    color: white;
    font-weight: bold;
    font-size: 30px;
}