.zonaPreguntas{
    background-image: url('../assets/imagenes/FONFO3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedorPregunta{
    width: 100%;
    height: 50%;
}

.contenedorPuntuacion{
    background-color: #6E417B;
    margin: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    width: 20%;
    padding: 5px 25px 25px 25px;
}

.puntuacion{
    font-size: 30px;
}

.container-fluid{
    position: relative;
    display: flex;
}

.cuadro{
    background-color: #6E417B;
    text-align: center;
    border-radius: 40px;
    padding: 20px;
    margin: auto;
    margin-top: 25.7%;
}

.trPreguntas , .tdPreguntas{
    margin-left: -20%;
    text-align:center;
    width: 650px;
}


.btn-light{
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    margin-bottom: 15px;
    font-size: 30px;
    border-radius: 10px;
}

.pregunta{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20%;
    margin-right: -80%;
}