
body{
  background-image: url("/src/imagenes/FONFO3.jpg"), url("/src/imagenes/FONDO\ GRADIENTE\ 222222.png")  ; 
  background-size: cover; 
  background-repeat: no-repeat; 
}

.container-fluid{
  position: relative;
  display: flex;
}

.cuadro{
  position: absolute;
  top: 450px;
  left: 330px;
  background-color: #6E417B;
  text-align: center;
  border-radius: 40px;
  padding: 20px;

}


.pregunta, .cardTexto{
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: Montserrat;
}

.cardd, .cardd2{
  background-color: #841AA2;
  color: white;
  border-radius: 20px;
  margin: 20px;
  padding: 1px;
}